.prices {
    .price-list {
        &__item {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #C5CCD2;
            padding: 15px 0;

            &:last-child {
                border-bottom: 1px solid #C5CCD2;
            }

            @media screen and (max-width: 720px) {
                display: block;
                padding-bottom: 30px;
            }
        }
        &__service-name {
            align-self: center;
            font-size: 20px;
            font-weight: 700;
            padding: 0;
            max-width: 50%;
            line-height: 23px;
            @media screen and (max-width: 720px) {
                max-width: initial;
            }
        }

        &__order {
            @media screen and (max-width: 720px) {
                display: block !important;
            }
        }

        &__service-price {
            font-size: 18px;
            align-self: center;
            padding: 0;
            font-weight: 700;
            margin-right: 30px;
            font-family: $play-font;

            @media screen and (max-width: 720px) {
                margin-bottom: 30px;
            }

            &--accent {
                color: $red
            }
        }
        &__order-btn {
            align-self: center;
        }
    }
}