.top-bar {
    min-height: 90px;
    display: flex;
    justify-content: space-between;
     
    @media screen and (max-width: 720px) {
      padding: 15px 0;
      flex-direction: column;
      align-items: center;
    }
    
  &__logo {

    @media screen and (max-width: 720px) {
      width: 100%;
    }
    
    .contact {
      display: none !important;

      @media screen and (max-width: 720px) {
        display: flex !important;
      }
    }

    @media screen and (max-width: 720px) {
      margin-bottom: 15px;
      justify-content: space-between;
    }
  }


  .contact { 
      @media screen and (max-width: 720px) {
          display: none;
      }

      p { 
          @media screen and (max-width: 1050px) {
            display: none;
          }
      }
  }

  .call-button {
    @media screen and (max-width: 720px) {
      width: auto;
    }
  }
}

.brand-name {
    align-self: center;
    display: flex;
    &__logo {
        display: flex;
        margin-right: 22px;
        
        img {
            align-self: center;
            margin-right: 7px;
            width: 44px;
            height: auto;
            &:hover {
                animation: logoShake 1s;
            }
        }
        p {
            align-self: center;
            color: $black;
            font-size: 36px;
            font-weight: 900;
            text-transform: uppercase;
            span {
                color: $red;
            }
        }
    }
    &__subtitle {
        align-self: center;
        font-family: $play-font;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;

        @media screen and (max-width: 1280px) {
          display: none;
        }
    }
}