<div class="reviews">
    <div class="container">
        <div class="reviews__title">
            <h2>Отзывы о нас</h2>
            <div class="reviews__buttons">
                <a href="#" class="btn btn--outline">Все 24 отзыва</a>
                <a href="#" class="btn btn--red">Написать отзыв</a>
            </div>
        </div>
        <div class="reviews-list owl-carousel">
            <div class="review">
                <div class="review__header">
                    <div class="review__img">
                        <img src="assets/img/avatar.png" alt="">
                    </div>
                    <div class="review__data">
                        <time class="review__date">15.05.2020</time>
                        <p class="review__name">Ильдар</p>
                    </div>
                </div>
                <div class="review__content">
                    Сервис приятно удивил! Заказал звонок, быстро перезвонили, сообщил о проблеме с телевизором Samsung.
                    В этот же день
                    приехал очень вежливый и грамотный инженер, забрал телевизор.А на следующий день перезвонили и
                    привезли полностью
                    рабочий ТВ обратно!!! Я в шоке! Качество, обслуживание, быстрота просто ФАНТАСТИЧЕСКИЕ. Теперь это
                    мой Сервисный Центр.
                    Огромное спасибо.
                    P.S. Кстати, приезд специалиста и диагностика действительно бесплатно.
                </div>
            </div>
            <div class="review">
                <div class="review__header">
                    <div class="review__img">
                        <img src="assets/img/avatar.png" alt="">
                    </div>
                    <div class="review__data">
                        <time class="review__date">15.05.2020</time>
                        <p class="review__name">Ильдар</p>
                    </div>
                </div>
                <div class="review__content">
                    Сервис приятно удивил! Заказал звонок, быстро перезвонили, сообщил о проблеме с телевизором Samsung.
                    В этот же день
                    приехал очень вежливый и грамотный инженер, забрал телевизор.А на следующий день перезвонили и
                    привезли полностью
                    рабочий ТВ обратно!!! Я в шоке! Качество, обслуживание, быстрота просто ФАНТАСТИЧЕСКИЕ. Теперь это
                    мой Сервисный Центр.
                    Огромное спасибо.
                    P.S. Кстати, приезд специалиста и диагностика действительно бесплатно.
                </div>
            </div>
            <div class="review">
                <div class="review__header">
                    <div class="review__img">
                        <img src="assets/img/avatar.png" alt="">
                    </div>
                    <div class="review__data">
                        <time class="review__date">15.05.2020</time>
                        <p class="review__name">Ильдар</p>
                    </div>
                </div>
                <div class="review__content">
                    Сервис приятно удивил! Заказал звонок, быстро перезвонили, сообщил о проблеме с телевизором Samsung.
                    В этот же день
                    приехал очень вежливый и грамотный инженер, забрал телевизор.А на следующий день перезвонили и
                    привезли полностью
                </div>
            </div>
            <div class="review">
                <div class="review__header">
                    <div class="review__img">
                        <img src="assets/img/avatar.png" alt="">
                    </div>
                    <div class="review__data">
                        <time class="review__date">15.05.2020</time>
                        <p class="review__name">Ильдар</p>
                    </div>
                </div>
                <div class="review__content">
                    Сервис приятно удивил! Заказал звонок, быстро перезвонили, сообщил о проблеме с телевизором Samsung.
                    В этот же день
                    приехал очень вежливый и грамотный инженер, забрал телевизор.А на следующий день перезвонили и
                    привезли полностью
                    рабочий ТВ обратно!!! Я в шоке! Качество, обслуживание, быстрота просто ФАНТАСТИЧЕСКИЕ. Теперь это
                    мой Сервисный Центр.
                    Огромное спасибо.
                    P.S. Кстати, приезд специалиста и диагностика действительно бесплатно.
                </div>
            </div>
            <div class="review">
                <div class="review__header">
                    <div class="review__img">
                        <img src="assets/img/avatar.png" alt="">
                    </div>
                    <div class="review__data">
                        <time class="review__date">15.05.2020</time>
                        <p class="review__name">Ильдар</p>
                    </div>
                </div>
                <div class="review__content">
                    Сервис приятно удивил! Заказал звонок, быстро перезвонили, сообщил о проблеме с телевизором Samsung.
                    В этот же день
                    приехал очень вежливый и грамотный инженер, забрал телевизор.А на следующий день перезвонили и
                    привезли полностью
                    рабочий ТВ обратно!!! Я в шоке! Качество, обслуживание, быстрота просто ФАНТАСТИЧЕСКИЕ. Теперь это
                    мой Сервисный Центр.
                    Огромное спасибо.
                    P.S. Кстати, приезд специалиста и диагностика действительно бесплатно.
                </div>
            </div>
            <div class="review">
                <div class="review__header">
                    <div class="review__img">
                        <img src="assets/img/avatar.png" alt="">
                    </div>
                    <div class="review__data">
                        <time class="review__date">15.05.2020</time>
                        <p class="review__name">Ильдар</p>
                    </div>
                </div>
                <div class="review__content">
                    Сервис приятно удивил! Заказал звонок, быстро перезвонили, сообщил о проблеме с телевизором Samsung.
                    В этот же день
                    приехал очень вежливый и грамотный инженер, забрал телевизор.А на следующий день перезвонили и
                    привезли полностью
                </div>
            </div>
        </div>
    </div>
</div>