<div class="our-shops">
    <div class="container">
        <h2>Наши магазины и сервисные центры</h2>
        <div class="d-flex map">
            <div class="map__info-panel">
                <div class="location active">
                    <div class="location__address">
                        СМТЕЛ-Архангельск, Архангельск, Площадь Ленина, 4, 16 этаж
                    </div>
                </div>
                <div class="location">
                    <div class="location__address">
                        Евросервис, г. Архангельск, ул. Урицкого, 43
                    </div>
                </div>
                <div class="location">
                    <div class="location__address">
                        Коноша - Мегафон, пгт. Коноша, пр. Октябрьский, 16
                    </div>
                </div>
                <div class="location">
                    <div class="location__address">
                        Шенкурск, г. Шенкурск, Кудрявцева, 38
                    </div>
                </div>
                <div class="location">
                    <div class="location__address">
                        Троицкий, г. Архангельск, пр. Троицкий 121/1
                    </div>
                </div>
                <div class="location">
                    <div class="location__address">
                        Полюс, г. Архангельск, ул. Тимме 4
                    </div>
                </div>
                <div class="location">
                    <div class="location__address">
                        Сульфат, г. Архангельск, ул. Химиков, 6
                    </div>
                </div>
                <div class="location">
                    <div class="location__address">
                        Северодвинска - Теле 2, г. Северодвинск, ул. Ленина, 35/37
                    </div>
                </div>
                <div class="location">
                    <div class="location__address">
                        СМТЕЛ-Северодвинск, г. Севродвинск, ул. Ленина, 16
                    </div>
                </div>
            </div>
            <div id="map" style="width:calc(100% - 336px); min-height:578px"></div>
        </div>
    </div>
</div>