<div class="device-list-inner">
    <div class="device-list-inner__item">
        <div class="device-list-inner__header">Можно ли отказаться от ремонта после диагностики?</div>
        <div>
            ...
        </div>
    </div>
    <div class="device-list-inner__item">
        <div class="device-list-inner__header">Можно ли отказаться от ремонта после диагностики?</div>
        <div>
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
        </div>
    </div>
    <div class="device-list-inner__item">
        <div class="device-list-inner__header">Можно ли отказаться от ремонта после диагностики? Можно ли отказаться от
            ремонта
            после диагностики?</div>
        <div>
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
        </div>
    </div>
</div>