<div class="device-list-inner">
    <div class="device-list-inner__item">
        <div class="device-list-inner__header">Samsung Galaxy S10 Lite SM-G770F</div>
        <div>
            <div class="price-list price-list--inner">
                <div class="price-list__item">
                    <div class="price-list__service-name">Диагностика</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price price-list__service-price--accent">бесплатно</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена дисплея</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена аккумуляторной батареи</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 450 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена разъема зарядки</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена задней крышки</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 500 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена динамика</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена камеры</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена микрофона</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена/ремонт кнопки включения</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена основной платы</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена основной платы на компоненте</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 700 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Смена програмного обеспечения</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="device-list-inner__item">
        <div class="device-list-inner__header">Samsung Galaxy S10+ SM-G975F</div>
        <div>
            <div class="price-list price-list--inner">
                <div class="price-list__item">
                    <div class="price-list__service-name">Диагностика</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price price-list__service-price--accent">бесплатно</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена дисплея</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена аккумуляторной батареи</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 450 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена разъема зарядки</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена задней крышки</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 500 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена динамика</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена камеры</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена микрофона</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена/ремонт кнопки включения</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена основной платы</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена основной платы на компоненте</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 700 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Смена програмного обеспечения</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="device-list-inner__item">
        <div class="device-list-inner__header">Samsung Galaxy S10+ SM-G973F</div>
        <div>
            <div class="price-list price-list--inner">
                <div class="price-list__item">
                    <div class="price-list__service-name">Диагностика</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price price-list__service-price--accent">бесплатно</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена дисплея</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена аккумуляторной батареи</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 450 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена разъема зарядки</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена задней крышки</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 500 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена динамика</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена камеры</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена микрофона</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена/ремонт кнопки включения</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена основной платы</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена основной платы на компоненте</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 700 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Смена програмного обеспечения</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="device-list-inner__item">
        <div class="device-list-inner__header">Samsung Galaxy S10+ SM-G970F</div>
        <div>
            <div class="price-list price-list--inner">
                <div class="price-list__item">
                    <div class="price-list__service-name">Диагностика</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price price-list__service-price--accent">бесплатно</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена дисплея</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена аккумуляторной батареи</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 450 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена разъема зарядки</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена задней крышки</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 500 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена динамика</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена камеры</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена микрофона</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена/ремонт кнопки включения</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена основной платы</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Замена основной платы на компоненте</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 700 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
                <div class="price-list__item">
                    <div class="price-list__service-name">Смена програмного обеспечения</div>
                    <div class="d-flex price-list__order">
                        <p class="price-list__service-price">от 1000 руб</p>
                        <a href="#" class="btn btn--outline price-list__order-btn">Заказать</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>