.service-devices {
    padding-top: 80px;
    padding-bottom: 68px;

    &__title {
        justify-content: space-between;
        h2 {
            margin-top: 15px !important;
            padding: 0;
            margin-bottom: 40px;
            @media screen and (max-width: 720px) {
                margin-left: auto;
                margin-right: auto;
            }
        }

        a { 
            height: min-content;
        }
    }

    &__all-btn {
        @media screen and (max-width:720px) {
            display: none;
        }
        &--mobile {
            display: none;
            margin: 30px auto 0;
            @media screen and (max-width:720px) {
                display: block;
            }
        }
    }

   .devices-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -7.5px;

        &__device {
            margin: 15px 7.5px 0;
            flex-basis: calc(25% - 15px);
            height: 126px;
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 12px;
            display: flex;

            @media screen and (max-width: 720px) {
                flex-basis: calc(100%/3 - 15px);
            }

            @media screen and (max-width: 571px) {
                flex-basis: calc(50% - 15px);
            }

            &:hover {
                .devices-list__img {
                    transform: rotateY(360deg);
                }
            }
        }

        &__img {
            align-self: center;
            width: 80px;
            height: 80px;
            display: block;
            margin: 0 auto;
            transform: rotateY(0deg);
            transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
   }
}