<div class="service-devices">
    <div class="container">
        <div class="d-flex service-devices__title">
            <h2>Мы обслуживаем технику:</h2>
            <a href="#" class="btn btn--outline service-devices__all-btn">Весь список техники</a>
        </div>
        <div class="devices-list">
            <div class="devices-list__device">
                <div class="devices-list__img">
                    <img src="assets/img/logo-samsung.svg" alt="">
                </div>
            </div>
            <div class="devices-list__device">
                <div class="devices-list__img">
                    <img src="assets/img/logo-apple.svg" alt="">
                </div>
            </div>
            <div class="devices-list__device">
                <div class="devices-list__img">
                    <img src="assets/img/logo-htc.svg" alt="">
                </div>
            </div>
            <div class="devices-list__device">
                <div class="devices-list__img">
                    <img src="assets/img/logo-acer.svg" alt="">
                </div>
            </div>
            <div class="devices-list__device">
                <div class="devices-list__img">
                    <img src="assets/img/logo-motorola.svg" alt="">
                </div>
            </div>
            <div class="devices-list__device">
                <div class="devices-list__img">
                    <img src="assets/img/logo-xiaomi.svg" alt="">
                </div>
            </div>
            <div class="devices-list__device">
                <div class="devices-list__img">
                    <img src="assets/img/logo-gopro.svg" alt="">
                </div>
            </div>
            <div class="devices-list__device">
                <div class="devices-list__img">
                    <img src="assets/img/logo-asus.svg" alt="">
                </div>
            </div>
            <div class="devices-list__device">
                <div class="devices-list__img">
                    <img src="assets/img/logo-compaq.svg" alt="">
                </div>
            </div>
            <div class="devices-list__device">
                <div class="devices-list__img">
                    <img src="assets/img/logo-lenovo.svg" alt="">
                </div>
            </div>
            <div class="devices-list__device">
                <div class="devices-list__img">
                    <img src="assets/img/logo-intel.svg" alt="">
                </div>
            </div>
            <div class="devices-list__device">
                <div class="devices-list__img">
                    <img src="assets/img/logo-canon.svg" alt="">
                </div>
            </div>
            <a href="#" class="btn btn--outline service-devices__all-btn--mobile">Весь список техники</a>
        </div>
    </div>
</div>