<section class="prices">
    <h2>Услуги</h2>
    <div class="price-list">
        <div class="price-list__item">
            <div class="price-list__service-name">Диагностика</div>
            <div class="d-flex">
                <p class="price-list__service-price price-list__service-price--accent">бесплатно</p>
                <a href="#" class="btn btn--red price-list__order-btn">Заказать</a>
            </div>
        </div>
        <div class="price-list__item">
            <div class="price-list__service-name">Замена дисплея</div>
            <div class="d-flex">
                <p class="price-list__service-price">от 1000 руб</p>
                <a href="#" class="btn btn--red price-list__order-btn">Заказать</a>
            </div>
        </div>
        <div class="price-list__item">
            <div class="price-list__service-name">Замена аккумуляторной батареи</div>
            <div class="d-flex">
                <p class="price-list__service-price">от 450 руб</p>
                <a href="#" class="btn btn--red price-list__order-btn">Заказать</a>
            </div>
        </div>
        <div class="price-list__item">
            <div class="price-list__service-name">Замена разъема зарядки</div>
            <div class="d-flex">
                <p class="price-list__service-price">от 1000 руб</p>
                <a href="#" class="btn btn--red price-list__order-btn">Заказать</a>
            </div>
        </div>
    </div>
</section>