<section class="devices">
    <div class="container">
        <h2 class="devices__title">Выберите устройство для ремонта</h2>
        <p class="devices__subtitle">для вашего удобства мы разбили всю технику на категории и выделили в них бренды,
            которые мы ремонтируем</p>

        <div class="devices__list">
            <div class="device">
                <div class="device__icon">
                    <img src="assets/img/devices-phone.svg" alt="">
                </div>
                <div class="device__content">
                    <a href="#" class="device__title">Телефон</a>
                    <div class="device__list">
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                    </div>
                </div>
            </div>
            <div class="device">
                <div class="device__icon">
                    <img src="assets/img/devices-monitor.svg" alt="">
                </div>
                <div class="device__content">
                    <a href="#" class="device__title">Монитор</a>
                    <div class="device__list">
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                    </div>
                </div>
            </div>
            <div class="device">
                <div class="device__icon">
                    <img src="assets/img/devices-svch.svg" alt="">
                </div>
                <div class="device__content">
                    <a href="#" class="device__title">СВЧ печи</a>
                    <div class="device__list">
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                    </div>
                </div>
            </div>
            <div class="device">
                <div class="device__icon">
                    <img src="assets/img/devices-pc.svg" alt="">
                </div>
                <div class="device__content">
                    <a href="#" class="device__title">Персональный компьютер</a>
                    <div class="device__list">
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                    </div>
                </div>
            </div>
            <div class="device">
                <div class="device__icon">
                    <img src="assets/img/devices-console.svg" alt="">
                </div>
                <div class="device__content">
                    <a href="#" class="device__title">Игровые приставки</a>
                    <div class="device__list">
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                    </div>
                </div>
            </div>
            <div class="device">
                <div class="device__icon">
                    <img src="assets/img/devices-camera.svg" alt="">
                </div>
                <div class="device__content">
                    <a href="#" class="device__title">Видео-аппаратура</a>
                    <div class="device__list">
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                        <a href="#">Huawey</a>
                        <a href="">Lenovo</a>
                        <a href="">Xiaomi</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn btn--outline devices__btn">Весь список техники</a>
    </div>
</section>