<div class="device-list">
    <div class="device-list__item">
        <div class="device-list__header">Samsung Galaxy S</div>
        <div>
            //= ../device-list-inner/device-list-inner.html
        </div>
    </div>
    <div class="device-list__item">
        <div class="device-list__header">Galaxy Note</div>
        <div>
            //= ../device-list-inner/device-list-inner.html
        </div>
    </div>
    <div class="device-list__item">
        <div class="device-list__header">Galaxy A</div>
        <div>
            //= ../device-list-inner/device-list-inner.html
        </div>
    </div>
    <div class="device-list__item">
        <div class="device-list__header">Galaxy J</div>
        <div>
            //= ../device-list-inner/device-list-inner.html
        </div>
    </div>
</div>