<div class="device-list">
    <div class="device-list__item">
        <div class="device-list__header">Можно ли отказаться от ремонта после диагностики?</div>
        <div>
            //= ../device-list-inner/device-list-inner.html
        </div>
    </div>
    <div class="device-list__item">
        <div class="device-list__header">Можно ли отказаться от ремонта после диагностики?</div>
        <div>
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
        </div>
    </div>
    <div class="device-list__item">
        <div class="device-list__header">Можно ли отказаться от ремонта после диагностики? Можно ли отказаться от
            ремонта
            после диагностики?</div>
        <div>
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
        </div>
    </div>
</div>