.devices {
    padding-bottom: 60px;
    &__title {
        text-align: center;

        &--bg {
            padding: 50px 15px;
            background-color: #EEF0F2;
            border-radius: 71px;
            h2 {
                padding-top: 0;
            }

            p {
                padding-bottom: 0;
            }
        }
    }
    &__subtitle {
        text-align: center;
    }

    &__list {
        margin-top: 50px;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
    }

    &__btn {
        margin: 0 auto;
        display: block;
        width: max-content;
        border-color: $red;
        color: $red;
    }
}

  .device {
    flex-basis: calc(50% - 30px);
    display: flex;
    margin-bottom: 30px;
    margin-right: 30px;

    @media screen and (max-width: 991px) {
        flex-direction: column;
    }
    @media screen and (max-width: 570px) {
        flex-basis: 100%;
        margin-right: 0;
    }

    &:nth-child(2n) {
        margin-right: 0;
        flex-basis: 50%;
        
        @media screen and (max-width: 570px) {
            flex-basis: 100%;
            margin-right: 0;
        }
    }

    &__icon {
        min-width: 102px;
        margin-right: 25px;
        @media screen and (max-width: 991px) {
            width: 102px;
            margin-bottom: 15px;
        }
        &:hover {
            animation: devicePulse 1s;
        }
    }

    &__title {
        margin-bottom: 30px;
        font-size: 22px;
        font-weight: 900;
        text-decoration: underline;
        line-height: 1.2;
        color: $black;
        display: block;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        a {
            margin-bottom: 15px;
            color: $black;
            &:after {
                content:'|';
                padding: 0 5px;
                color: #E0E0E0;
            }
        }
    }
}