<div class="call-banner">
    <div class="container d-flex">
        <div class="call-banner__content">
            <h2 class="call-banner__title">Отремонтируем <br> <span>за один час</span></h2>
            <form action="">
                <div class="horizontal-form">
                    <input type="tel" placeholder="Номер телефона">
                    <button class="btn btn--red" type="submit">Отправить запрос на ремонт</button>
                </div>
                <div class="d-flex call-checkbox">
                    <input type="checkbox" id="call-checkbox">
                    <label for="call-checkbox">
                        Мы никому не сообщим ваш номер телефона,
                        потому что вы согласны с <a href="">Политикой конфиденциальности</a>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>