<div class="mobile-nav">
    <nav>
        <ul class="top-menu">
            <li class="active"><a href="#">Каталог</a></li>
            <li>
                <a href="#">Услуги</a>
                <ul class="submenu">
                    <li><a href="#">Ремонт телефонов</a></li>
                    <li><a href="#">Ремонт планшетов</a></li>
                    <li><a href="#">Ремонт телевизоров</a></li>
                    <li><a href="#">Ремонт ноутбуков</a></li>
                </ul>
            </li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Вопросы и ответы</a></li>
            <li><a href="#">Сертификаты</a></li>
            <li>
                <a href="#">Партнерам</a>
            </li>
            <li>
                <a href="#">Контакты</a>
                <ul class="submenu">
                    <li><a href="#">Ремонт телефонов</a></li>
                    <li><a href="#">Ремонт планшетов</a></li>
                    <li><a href="#">Ремонт телевизоров</a></li>
                    <li><a href="#">Ремонт ноутбуков</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>