<section class="advantages">
    <h2 class="advantages__title">С нами удобно</h2>
    <div class="advantages-list">
        <div class="advantages-list__item">
            <div class="advantages-list__icon">
                <img src="assets/img/advantages-icon-1.svg" alt="">
            </div>
            <div class="advantages-list__text">
                оригинальные запчасти
            </div>
        </div>
        <div class="advantages-list__item">
            <div class="advantages-list__icon">
                <img src="assets/img/advantages-icon-2.svg" alt="">
            </div>
            <div class="advantages-list__text">
                бесплатная диагностика
            </div>
        </div>
        <div class="advantages-list__item">
            <div class="advantages-list__icon">
                <img src="assets/img/advantages-icon-3.svg" alt="">
            </div>
            <div class="advantages-list__text">
                специалисты, обученные производителем
            </div>
        </div>
        <div class="advantages-list__item">
            <div class="advantages-list__icon">
                <img src="assets/img/advantages-icon-4.svg" alt="">
            </div>
            <div class="advantages-list__text">
                Экспресс ремонт за 30 минут
            </div>
        </div>
        <div class="advantages-list__item">
            <div class="advantages-list__icon">
                <img src="assets/img/advantages-icon-5.svg" alt="">
            </div>
            <div class="advantages-list__text">
                1-3 месяца гарантия качества
            </div>
        </div>
    </div>
</section>