<div class="modal modal--page">
    <p class="modal__title">Запишитесь на бесплатную диагностику</p>
    <form action="">
        <div class="modal__phone-icon">
            <input type="tel" placeholder="Номер телефона">
        </div>
        <div class="d-flex">
            <input type="checkbox" id="modal-checkbox">
            <label for="modal-checkbox">Мы никому не сообщим ваш номер телефона, потому что вы согласны с <a
                    href="">Политикой
                    конфиденциальности</a></label>
        </div>
        <button type="submit" class="btn btn--red modal__btn">Бесплатная диагностика</button>
    </form>
</div>