<div class="faq-list">
    <div class="faq-list__item">
        <div class="faq-list__header">Можно ли отказаться от ремонта после диагностики?</div>
        <div>
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
        </div>
    </div>
    <div class="faq-list__item">
        <div class="faq-list__header">Можно ли отказаться от ремонта после диагностики?</div>
        <div>
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
        </div>
    </div>
    <div class="faq-list__item">
        <div class="faq-list__header">Можно ли отказаться от ремонта после диагностики? Можно ли отказаться от ремонта
            после диагностики?</div>
        <div>
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
            Да, если передумали, вы можете отказаться от услуги и забрать свою технику без оплаты.
        </div>
    </div>
</div>