<div class="our-services">
    <div class="container">
        <p class="our-services__title">Высокий профессионализм наших специалистов и запчасти высокого качества, которые
            всегда имеются в наличии, гарантируют
            вам уверенность в качественном и надежном ремонте.</p>
        <div class="our-services__list">
            <div class="our-services__item">
                <div class="our-services__img">
                    <img src="assets/img/our-services-icon-1.svg" alt="">
                </div>
                <div class="our-services__content">
                    Ремонт сотовых телефонов любых производителей в короткие сроки
                </div>
            </div>
            <div class="our-services__item">
                <div class="our-services__img">
                    <img src="assets/img/our-services-icon-2.svg" alt="">
                </div>
                <div class="our-services__content">
                    Снятие кода телефона, разблокировка, в том числе от оператора, Руcсификация
                </div>
            </div>
            <div class="our-services__item">
                <div class="our-services__img">
                    <img src="assets/img/our-services-icon-3.svg" alt="">
                </div>
                <div class="our-services__content">
                    Восстановление телефонов после попадания влаги
                </div>
            </div>
            <div class="our-services__item">
                <div class="our-services__img">
                    <img src="assets/img/our-services-icon-4.svg" alt="">
                </div>
                <div class="our-services__content">
                    Извлечение контактов, информации из поврежденных сотовых телефонов
                </div>
            </div>
            <div class="our-services__item">
                <div class="our-services__img">
                    <img src="assets/img/our-services-icon-5.svg" alt="">
                </div>
                <div class="our-services__content">
                    Обновление и замена программного обеспечения
                </div>
            </div>
            <div class="our-services__item">
                <div class="our-services__img">
                    <img src="assets/img/our-services-icon-6.svg" alt="">
                </div>
                <div class="our-services__content">
                    Замена корпусов, клавиатур, дисплеев и т.п.
                </div>
            </div>
        </div>
    </div>
</div>