//= ../components/mobile-nav/mobile-nav.html
//= ../components/modal/modal.html

<footer>
    <div class="container">
        <div class="d-flex footer-content">
            <div class="logo">
                <div class="brand-name">
                    <a href="#" class="brand-name__logo">
                        <img src="assets/img/logo-white.svg" alt="">
                        <p class="brand-name__title"><span>см</span>тел</p>
                    </a>
                </div>
                <div class="contacts">
                    <a href="tel:+7 (900) 915-02-97" class="contact">
                        <img src="assets/img/phone-white.svg" alt="">
                        <p>+7 (900) 915-02-97</p>
                    </a>
                    <a href="mailto:info@smtel29.ru" class="contact">
                        <img src="assets/img/mail-white.svg" alt="">
                        <p>info@smtel29.ru</p>
                    </a>
                </div>
            </div>
            <hr>
            <ul class="footer-content__menu">
                <li><a href="#">Услуги</a></li>
                <ul class="sub-menu">
                    <li><a href="#">Ремонт телефонов</a></li>
                    <li><a href="#">Ремонт планшетов</a></li>
                    <li><a href="#">Ремонт ноутбуков</a></li>
                    <li><a href="#">Ремонт телевизоров</a></li>
                    <li><a href="#">Ремонт мониторов</a></li>
                    <li><a href="#">Ремонт игровых приставок</a></li>
                </ul>
                <li><a href="#">Выездной ремонт</a></li>
            </ul>
            <ul class="footer-content__menu">
                <li><a href="#">О компании</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Сервисные центры</a></li>
                <li><a href="#">Доставка и оплата</a></li>
            </ul>
            <ul class="footer-content__menu">
                <li><a href="#">Возврат и правила обмена</a></li>
                <li><a href="#">Политика конфиденциальности</a></li>
                <li><a href="#">Выкуп техники</a></li>
                <li><a href="#">Проверка устройств</a></li>
            </ul>
        </div>
        <hr>
        <div class="copyright">
            <div class="copyright__text">
                <p>© Компания "СМТел"</p>
                <p>Условия продажи и политика обработки персональных данных</p>
            </div>
            <div class="call-buttons">
                <a data-fancybox data-src="#modal" href="javascript:;" class="btn btn--outline call-button">
                    Бесплатный вызов мастера
                </a>
                <a data-fancybox data-src="#modal" href="javascript:;" class="btn btn--red call-button">
                    Записаться на ремонт
                </a>
            </div>
        </div>
    </div>
</footer>