<div class="simple-accordion contact-list">
    <div class="simple-accordion__item contact-list__item">
        <div class="simple-accordion__header contact-list__header">
            <div class="contact-list__contact-content">
                <div class="contact-list__contact-item">
                    <p class="contact-list__city">СМТЕЛ-Архангельск</p>
                    <p class="contact-list__address">Архангельск, Площадь Ленина, 4, 16 этаж</p>
                </div>
                <div class="contact-list__contact-item">
                    <div class="contact-list__phone">
                        <div class="contact-list__icon">
                            <img src="assets/img/phone-gray.svg" alt="">
                        </div>
                        <a href="tel:+79009150297" class="contact-list__phone-link">+ 7 (900) 915-02-97</a>
                    </div>
                    <div class="contact-list__email">
                        <div class="contact-list__icon">
                            <img src="assets/img/mail-gray.svg" alt="">
                        </div>
                        <a href="mailto:info@smtel29.ru" class="contact-list__email-link">info@smtel29.ru</a>
                    </div>
                    <div class="contact-list__work-time">
                        <div class="contact-list__icon">
                            <img src="assets/img/clock-gray.svg" alt="">
                        </div>
                        <p class="contact-list__work-time-text">будни 9:00-19:00, выходные 10:00-18:00</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="contact-list-gallery">
                <div class="contact-list-gallery__image">
                    <a href="assets/img/banner-bg.jpg" data-fancybox="images">
                        <img src="assets/img/banner-bg.jpg" alt="" />
                    </a>
                </div>
                <div class="contact-list-gallery__image">
                    <a href="assets/img/banner-bg.jpg" data-fancybox="images">
                        <img src="assets/img/banner-bg.jpg" alt="" />
                    </a>
                </div>
                <div class="contact-list-gallery__image">
                    <a href="assets/img/banner-bg.jpg" data-fancybox="images">
                        <img src="assets/img/banner-bg.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div id="map-0" class="contact-list__map"></div>
        </div>
    </div>
    <div class="simple-accordion__item contact-list__item">
        <div class="simple-accordion__header contact-list__header">
            <div class="contact-list__contact-content">
                <div class="contact-list__contact-item">
                    <p class="contact-list__city">СМТЕЛ-Архангельск</p>
                    <p class="contact-list__address">Архангельск, Площадь Ленина, 4, 16 этаж</p>
                </div>
                <div class="contact-list__contact-item">
                    <div class="contact-list__phone">
                        <div class="contact-list__icon">
                            <img src="assets/img/phone-gray.svg" alt="">
                        </div>
                        <a href="tel:+79009150297" class="contact-list__phone-link">+ 7 (900) 915-02-97</a>
                    </div>
                    <div class="contact-list__email">
                        <div class="contact-list__icon">
                            <img src="assets/img/mail-gray.svg" alt="">
                        </div>
                        <a href="mailto:info@smtel29.ru" class="contact-list__email-link">info@smtel29.ru</a>
                    </div>
                    <div class="contact-list__work-time">
                        <div class="contact-list__icon">
                            <img src="assets/img/clock-gray.svg" alt="">
                        </div>
                        <p class="contact-list__work-time-text">будни 9:00-19:00, выходные 10:00-18:00</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="contact-list-gallery">
                <div class="contact-list-gallery__image">
                    <a href="assets/img/banner-bg.jpg" data-fancybox="images">
                        <img src="assets/img/banner-bg.jpg" alt="" />
                    </a>
                </div>
                <div class="contact-list-gallery__image">
                    <a href="assets/img/banner-bg.jpg" data-fancybox="images">
                        <img src="assets/img/banner-bg.jpg" alt="" />
                    </a>
                </div>
                <div class="contact-list-gallery__image">
                    <a href="assets/img/banner-bg.jpg" data-fancybox="images">
                        <img src="assets/img/banner-bg.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div id="map-1" class="contact-list__map"></div>
        </div>
    </div>
    <div class="simple-accordion__item contact-list__item">
        <div class="simple-accordion__header contact-list__header">
            <div class="contact-list__contact-content">
                <div class="contact-list__contact-item">
                    <p class="contact-list__city">СМТЕЛ-Архангельск</p>
                    <p class="contact-list__address">Архангельск, Площадь Ленина, 4, 16 этаж</p>
                </div>
                <div class="contact-list__contact-item">
                    <div class="contact-list__phone">
                        <div class="contact-list__icon">
                            <img src="assets/img/phone-gray.svg" alt="">
                        </div>
                        <a href="tel:+79009150297" class="contact-list__phone-link">+ 7 (900) 915-02-97</a>
                    </div>
                    <div class="contact-list__email">
                        <div class="contact-list__icon">
                            <img src="assets/img/mail-gray.svg" alt="">
                        </div>
                        <a href="mailto:info@smtel29.ru" class="contact-list__email-link">info@smtel29.ru</a>
                    </div>
                    <div class="contact-list__work-time">
                        <div class="contact-list__icon">
                            <img src="assets/img/clock-gray.svg" alt="">
                        </div>
                        <p class="contact-list__work-time-text">будни 9:00-19:00, выходные 10:00-18:00</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="contact-list-gallery">
                <div class="contact-list-gallery__image">
                    <a href="assets/img/banner-bg.jpg" data-fancybox="images">
                        <img src="assets/img/banner-bg.jpg" alt="" />
                    </a>
                </div>
                <div class="contact-list-gallery__image">
                    <a href="assets/img/banner-bg.jpg" data-fancybox="images">
                        <img src="assets/img/banner-bg.jpg" alt="" />
                    </a>
                </div>
                <div class="contact-list-gallery__image">
                    <a href="assets/img/banner-bg.jpg" data-fancybox="images">
                        <img src="assets/img/banner-bg.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div id="map-2" class="contact-list__map"></div>
        </div>
    </div>
    <div class="simple-accordion__item contact-list__item">
        <div class="simple-accordion__header contact-list__header">
            <div class="contact-list__contact-content">
                <div class="contact-list__contact-item">
                    <p class="contact-list__city">СМТЕЛ-Архангельск</p>
                    <p class="contact-list__address">Архангельск, Площадь Ленина, 4, 16 этаж</p>
                </div>
                <div class="contact-list__contact-item">
                    <div class="contact-list__phone">
                        <div class="contact-list__icon">
                            <img src="assets/img/phone-gray.svg" alt="">
                        </div>
                        <a href="tel:+79009150297" class="contact-list__phone-link">+ 7 (900) 915-02-97</a>
                    </div>
                    <div class="contact-list__email">
                        <div class="contact-list__icon">
                            <img src="assets/img/mail-gray.svg" alt="">
                        </div>
                        <a href="mailto:info@smtel29.ru" class="contact-list__email-link">info@smtel29.ru</a>
                    </div>
                    <div class="contact-list__work-time">
                        <div class="contact-list__icon">
                            <img src="assets/img/clock-gray.svg" alt="">
                        </div>
                        <p class="contact-list__work-time-text">будни 9:00-19:00, выходные 10:00-18:00</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="contact-list-gallery">
                <div class="contact-list-gallery__image">
                    <a href="assets/img/banner-bg.jpg" data-fancybox="images">
                        <img src="assets/img/banner-bg.jpg" alt="" />
                    </a>
                </div>
                <div class="contact-list-gallery__image">
                    <a href="assets/img/banner-bg.jpg" data-fancybox="images">
                        <img src="assets/img/banner-bg.jpg" alt="" />
                    </a>
                </div>
                <div class="contact-list-gallery__image">
                    <a href="assets/img/banner-bg.jpg" data-fancybox="images">
                        <img src="assets/img/banner-bg.jpg" alt="" />
                    </a>
                </div>
            </div>
            <div id="map-3" class="contact-list__map"></div>
        </div>
    </div>
</div>