<div class="simple-accordion contact-list">
    <div class="simple-accordion__item contact-list__item">
        <div class="simple-accordion__header contact-list__header">
            СМТЕЛ-Архангельск
            <p class="contact-list__address">Архангельск, Площадь Ленина, 4, 16 этаж</p>
        </div>
        <div>
            ...
        </div>
    </div>
    <div class="simple-accordion__item contact-list__item">
        <div class="simple-accordion__header contact-list__header">
            <div class="contact-list__contact-content">
                <div class="contact-list__contact-item">
                    <p class="contact-list__city">СМТЕЛ-Архангельск</p>
                    <p class="contact-list__address">Архангельск, Площадь Ленина, 4, 16 этаж</p>
                </div>
                <div class="contact-list__contact-item">
                    a
                </div>
            </div>
        </div>
        <div>
            ...
        </div>
    </div>
</div>