<div class="header-banner">
    <div class="container d-flex">
        <div class="header-content">
            <h1 class="header-title">
                Ремонт телефонов <br> и планшетов
            </h1>
            <p class="header-subtitle">Наши мастера решат все проблемы вашего телефона или планшета</p>
            <a href="#" class="btn btn--red header-banner__mobile-btn">Отправить запрос на ремонт</a>
            <form class="horizontal-form" action="">
                <input type="tel" placeholder="Номер телефона">
                <button class="btn btn--red" type="submit">Отправить запрос на ремонт</button>
            </form>
        </div>
    </div>
</div>